<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://dpg-cvmd6mhr0fns738turmg-a.oregon-postgres.render.com:5432/hmshospitaldb
        </property>
        <property name="hibernate.connection.username">hmsuser</property>
        <property name="hibernate.connection.password">j4E2LwEsMlXBQ331XvU8YbQgNOTwezqz</property>

        <!-- SQL dialect for PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Hibernate-specific settings -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Optional: automatic session context -->
        <property name="current_session_context_class">thread</property>
        <mapping class="com.hms.user.model.User"/>
        <mapping class="com.hms.billing.model.Bill"/>


    </session-factory>
</hibernate-configuration>
